.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: static;
  top: 0px;
  padding: 8px 0px;
}

.title {
  font-size: 28px;
  margin: 0px 0px 16px;
}

.text {
  font-size: 20px;
}

.layout {
  width: 50%;
  top: 0px;
  padding: 8px 0px;
}

@media (max-width: 1015px) {
  .title {
    font-size: 28px;
    margin: 0px 0px 16px;
  }
  
  .text {
    font-size: 16px;
  }
  
  .layout {
    width: 90%;
    top: 0px;
    padding: 8px 0px;
  }
}

@media (min-width: 1184px) {
  .container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(1136px + 24px * 2);
  }
}