.container {
  width: 60%;
  margin: auto;
  position: relative;
  background-color: white;
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.container > div {
  display: flex;
  border: 1px solid #dddddd;
  width: 60%;
  padding: 4px 20px;
  border-radius: 30px;
  align-items: center;
  background-color: white;
  font-size: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container > div > div + div {
  width: 100%;
}

.container > div > div {
  display: flex;
}

.container input[type="text"] {
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 0.8em;
  background-color: white;
}

.filterDiv {
  display: inline-block;
  position: relative;
}

.filterBtn {
  border: 1px solid #333;
  background-color: white;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}

.filterBtn:hover {
  background-color: #333;
  color: white;
}

@media (min-width: 1184px) {
  .container {
    /* padding: 0 24px; */
    /* box-sizing: border-box; */
    margin: auto;
    max-width: 100%;
    padding-bottom: 10px;
    width: calc(1136px + 0px * 2);
  }
}

@media (max-width: 1184px) {
  .container {
    width: 90%;
  }
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBox > div {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 0 10px;
}

.filterDropBox {
  width: 530px;
  margin: auto;
}

.filterDropBox > div{
  width: 100%;
}