.Footer {
  background-color: #faf1ed;
}

.desktopShow {
  display: block;
}

.mobileShow {
  display: none;
}

.Container > div:first-child {
  width: 60%;
}

.Container > div:last-child {
  width: 40%;
}

.Container {
  width: 90%;
}

@media (min-width: 1024px)
{
  .Container {
    /* padding: 0 24px; */
  }
}

@media (min-width: 1184px)
{
  .Container{
    width: calc(1136px + 24px * 2);
    margin: auto;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (max-width: 1184px)
{
  .Container {
    /* padding: 0 24px; */
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
    flex-wrap: wrap;
    /* padding: 0 24px; */
  }

  .Container > div:first-child {
    width: 100%;
  }
  
  .Container > div:last-child {
    width: 100%;
  }

  .Container {
    padding-top: 0 !important;
  }

  .Container:last-child > div:last-child {
    padding-top: 20px;
  }

  .Container:last-child > div:first-child > div {
    justify-content: center;
  }
}

@media (max-width: 768px)
{
  .Container {
    /* width: 768px; */
    padding: 0 10px;
  }
}

@media (max-width: 705px)
{
  .desktopShow {
    display: none;
  }

  .mobileShow {
    display: block;
  }
}

.Container {
  /* width: 90%; */
  margin: auto;
  display: flex;
  line-height: 0.9em;
  padding: 30px 0px;
}

.Container li{
  line-height: 25px;
}


.logo {
  width: 80%;
}
.copyWrite {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.copyWrite,
.para {
  font-size: 0.9em;
}
.Links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  line-height: 0.5em;
}
.link {
  color: black;
  font-size: 1.5em;
  font-size: large;
  font-weight: 600;
}
.link:hover {
  opacity: 0.8;
}
.para {
  margin-top: 5px;
}
.para .more {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.para .more:hover {
  text-decoration: underline;
}

.footerSelect{
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 12px;
  margin-top: 10px;
}

.footerSelect:focus, .footerSelect:visited {
  border: 2px solid #3182ce;
}

.accordionItem {
  background-color: transparent;
  border-top: 1px solid gray;
  padding: 0px 10px 10px;
  margin-bottom: 10px;
}

.accordionItem:last-child {
  border-bottom: 1px solid gray;
}

.accordionItem > h2 {
  margin-bottom: 5px;
}

.accordionBtn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.accordionPanel {
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
}

.Fixed {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}