.container {
  display: flex;
  gap: 10px;
  margin-bottom: 136px;
}

.cover_image {
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: calc(100% - 135px);
}

.slideItem {
  width: calc((1136px + 20px * 2 - 80px) / 5 );
  height: calc((1136px + 20px * 2 - 80px) / 5 + 115px);
  position: relative;
}

.slideGrid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

.slideItem > div > div:first-child > span {
  display: block;
  height: 42px;
}

.heartBtn {
  display: block;
  fill: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px 10px 5px 11px
}

@media (min-width: 1184px) {
  .container {
    /* padding: 0 24px; */
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 136px;
    max-width: 100%;
    width: calc(1136px + 20px * 2) !important;
  }
}

@media (max-width: 1184px) {
  .slideItem {
    width: calc((90%) / 4 );
    height: calc((100vw + 20px * 2) / 4);
  }
  .slideGrid {
    gap: calc(3% + 3px);
  }
}

@media (max-width: 1000px) {
  .slideItem {
    width: 30%;
    height: calc((100vw + 20px * 2) / 3);
  }
  .slideGrid {
    gap: calc(3% + 15px)
  }
}

@media (max-width: 849px) {
  .slideItem {
    width: 30%;
    height: calc((100vw + 20px * 2) / 3);
  }
  .slideGrid {
    gap: calc(3% + 10px);
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(90% + 40px);
    margin-bottom: 136px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .slideItem {
    width: 47%;
    height: calc((100vw + 20px * 2) / 2);
  }
  .container {
    width: calc(90% + 40px);
    margin-bottom: 136px;
  }
}

@media (max-width: 387px) {
  .slideItem {
    width: 100%;
    height: calc((100vw + 20px * 2));
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(90% + 40px);
    margin: auto;
    margin-bottom: 136px;
  }
}